<h2>Relatório personalizado</h2>

<mat-card class="example-card">
  <mat-card-title>Nome do relatório</mat-card-title>
  <form action="">
      <mat-form-field>
          <input matInput placeholder="Digite o nome do relatório"
            [(ngModel)]="report.name"  name="name"
          >
      </mat-form-field>

      <p>Relatórios - Escolha os filtros para a criação do relatório</p>

      <mat-form-field appearance="fill">
        <mat-label>Selecione as colunas</mat-label>
        <mat-select [(ngModel)]="toppings" multiple>
          <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
        </mat-select>
      </mat-form-field>
  </form>
  <button mat-raised-button (click)="createReport()" class="btn-save">
      Salvar
  </button>

  <button mat-raised-button (click)="cancel()" class="btn-cancel">
      Voltar
  </button>
</mat-card>

<h2>Sugestão para seleção das colunas</h2>

<mat-card class="example-card-2">
  <mat-card-title>Nome do relatório</mat-card-title>
  <form action="">
      <mat-form-field>
          <input matInput placeholder="Digite o nome do relatório"
            [(ngModel)]="report.name"  name="name"
          >
      </mat-form-field>

      <p>Relatórios - Escolha os filtros para a criação do relatório</p>

        <mat-button-toggle-group class="toggle-content" [(ngModel)]="toppings" name="columns" aria-label="columns" multiple>
          <mat-button-toggle *ngFor="let topping of toppingList" [value]="topping">
              {{topping}}
          </mat-button-toggle>
        </mat-button-toggle-group>

  </form>
  <button mat-raised-button (click)="createReport()" class="btn-save">
      Salvar
  </button>

  <button mat-raised-button (click)="cancel()" class="btn-cancel">
      Voltar
  </button>
</mat-card>
