<br>
<br>
<h4>Todos commits</h4>

<table id="customers">
  <thead>
    <tr>
      <th>#Id</th>
      <th>Usuário</th>
      <th>E-mail</th>
      <th>Data</th>
      <th>Commit</th>
    </tr>
  </thead>
  <tbody>
<!--     <tr *ngFor="let message of messages">
      <td> {{message.id_message}}</td>
      <td> {{message.author[0].name}}</td>
      <td> {{message.author[0].id}}</td>
      <td> {{message.author[0].email}}</td>
      <td> {{message.commit[0].message}}</td>
    </tr> -->


  </tbody>

</table>
