<div class="flex-container">
<div class="card">
  <div class="container">
    <h4><b>Nome do Template #1</b></h4>
    <div class="row">
      <div class="col">
        <div class="tabs">
          <div class="tab">
            <input type="checkbox" id="chck1">
            <label class="tab-label" for="chck1">Colunas disponíveis</label>
              <div class="tab-content" *ngFor="let topping of toppingTemplate1">
                <button class="toggle">
                  {{topping}}
                </button>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
<div class="button-container">
  <button class="button">Visualizar</button>
  <button class="button">Editar</button>
</div>
</div>

  <div class="card">
    <div class="container">
      <h4><b>Nome do Template #2</b></h4>
      <div class="row">
        <div class="col">
          <div class="tabs">
            <div class="tab">
              <input type="checkbox" id="chck3">
              <label class="tab-label" for="chck3">Colunas disponíveis</label>
              <div class="tab-content" *ngFor="let topping of toppingTemplate2">
                <button class="toggle">
                  {{topping}}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
  <div class="button-container">
    <button class="button">Visualizar</button>
    <button class="button">Editar</button>
  </div>
  </div>

    <div class="card">
      <div class="container">
        <h4><b>Nome do Template #3</b></h4>
        <div class="row">
          <div class="col">
            <div class="tabs">
              <div class="tab">
                <input type="checkbox" id="chck2">
                <label class="tab-label" for="chck2">Colunas disponíveis</label>
                <div class="tab-content" *ngFor="let topping of toppingTemplate3">
                  <button class="toggle">
                    {{topping}}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
    <div class="button-container">
      <button class="button">Visualizar</button>
      <button class="button">Editar</button>
    </div>
    </div>

</div>
