<div class="flex-container">
<div class="card">
  <div class="container">
    <h4><b>{{table1}}</b></h4>
    <div class="row">
      <div class="col">
        <div class="tabs">
          <div class="tab">
            <input type="checkbox" id="chck1">
            <label class="tab-label" for="chck1">Colunas disponíveis</label>
              <div class="tab-content" *ngFor="let topping of toppingTemplate1">
                <button class="toggle">
                  {{topping}}
                </button>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
<div class="button-container">
  <button (click)="showTable(table1)" class="button">Visualizar</button>
</div>
</div>

  <div class="card">
    <div class="container">
      <h4><b>{{table2}}</b></h4>
      <div class="row">
        <div class="col">
          <div class="tabs">
            <div class="tab">
              <input type="checkbox" id="chck3">
              <label class="tab-label" for="chck3">Colunas disponíveis</label>
              <div class="tab-content" *ngFor="let topping of toppingTemplate2">
                <button class="toggle">
                  {{topping}}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
  <div class="button-container">
    <button class="button" (click)="showTable(table2)">Visualizar</button>
  </div>
  </div>

    <div class="card">
      <div class="container">
        <h4><b>{{table3}}</b></h4>
        <div class="row">
          <div class="col">
            <div class="tabs">
              <div class="tab">
                <input type="checkbox" id="chck2">
                <label class="tab-label" for="chck2">Colunas disponíveis</label>
                <div class="tab-content" *ngFor="let topping of toppingTemplate3">
                  <button class="toggle">
                    {{topping}}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
    <div class="button-container">
      <button class="button" (click)="showTable(table3)">Visualizar</button>
      <button class="button" (click)="editTable()">Editar</button>
    </div>
    </div>

</div>

<div class="container-table">
  <div *ngIf="table">
   <app-report-table
     [table]="table"
     (hideTable)="hideTable($event)"
     [tableName]="tableName"
   ></app-report-table>
  </div>
 </div>
