.side-nav {
  background-color: #3F51B5;
  width: 200px;
}

.side-nav a {
  color:aliceblue;
}

.side-nav i {
  padding-right: 10px;
}

.content {
  padding: 16px;
  background-color: #FFF;
  color: black;
}
